In [18]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import tensorflow as tf

from sklearn.metrics import r2_score

In [19]:
DS = pd.read_excel("Sample - Superstore.xls")
DS

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [20]:
DS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [21]:
DS.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [22]:
def Date_Format(Dset,column):
    Dset=Dset.copy()
    Dset[column] = pd.to_datetime(Dset[column])
    Dset[column + '_Year'] = Dset[column].apply(lambda x :x.year)
    Dset[column + '_Months'] = Dset[column].apply(lambda x :x.month)
    Dset[column + '_Days'] = Dset[column].apply(lambda x :x.day)
    Dset=Dset.drop(column,axis=1)
    
    return Dset
def onehot_encode(Dset,column):
    Dset=Dset.copy()
    dummies=pd.get_dummies(Dset[column],prefix=column)
    Dset=pd.concat([Dset,dummies],axis=1)
    Dset=Dset.drop(column, axis=1)
    return Dset

In [23]:
Dset=DS
Dset=Dset.copy()
#Droping unnecessary Column
Dset=Dset.drop(['Row ID','Country','Product Name','Customer Name'],axis=1)

#Droping Customer Specific Feature Column
Dset=Dset.drop(['Order ID','Customer ID'],axis=1)

#Date Feature
Dset=Date_Format(Dset,column='Order Date')
Dset=Date_Format(Dset,column='Ship Date')



#onehot encoding categorial features
for column in ['Ship Mode', 'Segment','City','State','Postal Code','Region','Product ID','Category','Sub-Category']:
    Dset=onehot_encode(Dset,column=column)

In [24]:
X

,Quantity,Discount,Profit,Order Date_Year,Order Date_Months,Order Date_Days,Ship Date_Year,Ship Date_Months,Ship Date_Days,Ship Mode_First Class,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
0,2,0.00,41.9136,2016,11,8,2016,11,11,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0.00,219.5820,2016,11,8,2016,11,11,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0.00,6.8714,2016,6,12,2016,6,16,0,...,0,0,0,1,0,0,0,0,0,0
3,5,0.45,-383.0310,2015,10,11,2015,10,18,0,...,0,0,0,0,0,0,0,0,0,1
4,2,0.20,2.5164,2015,10,11,2015,10,18,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,3,0.20,4.1028,2014,1,21,2014,1,23,0,...,0,0,1,0,0,0,0,0,0,0
9990,2,0.00,15.6332,2017,2,26,2017,3,3,0,...,0,0,1,0,0,0,0,0,0,0
9991,2,0.20,19.3932,2017,2,26,2017,3,3,0,...,0,0,0,0,0,0,1,0,0,0
9992,4,0.00,13.3200,2017,2,26,2017,3,3,0,...,0,0,0,0,0,1,0,0,0,0
9993,2,0.00,72.9480,2017,5,4,2017,5,9,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
y=Dset['Sales']
X=Dset.drop('Sales',axis=1)

In [27]:
y

0       261.9600
1       731.9400
2        14.6200
3       957.5775
4        22.3680
          ...
9989     25.2480
9990     91.9600
9991    258.5760
9992     29.6000
9993    243.1600
Name: Sales, Length: 9994, dtype: float64

In [29]:
X

,Quantity,Discount,Profit,Order Date_Year,Order Date_Months,Order Date_Days,Ship Date_Year,Ship Date_Months,Ship Date_Days,Ship Mode_First Class,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
0,2,0.00,41.9136,2016,11,8,2016,11,11,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0.00,219.5820,2016,11,8,2016,11,11,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0.00,6.8714,2016,6,12,2016,6,16,0,...,0,0,0,1,0,0,0,0,0,0
3,5,0.45,-383.0310,2015,10,11,2015,10,18,0,...,0,0,0,0,0,0,0,0,0,1
4,2,0.20,2.5164,2015,10,11,2015,10,18,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,3,0.20,4.1028,2014,1,21,2014,1,23,0,...,0,0,1,0,0,0,0,0,0,0
9990,2,0.00,15.6332,2017,2,26,2017,3,3,0,...,0,0,1,0,0,0,0,0,0,0
9991,2,0.20,19.3932,2017,2,26,2017,3,3,0,...,0,0,0,0,0,0,1,0,0,0
9992,4,0.00,13.3200,2017,2,26,2017,3,3,0,...,0,0,0,0,0,1,0,0,0,0
9993,2,0.00,72.9480,2017,5,4,2017,5,9,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
X_train, X_test, y_train, y_test=train_test_split(X,y,train_size=0.7,shuffle=True,random_state=1)

In [33]:
X_train

,Quantity,Discount,Profit,Order Date_Year,Order Date_Months,Order Date_Days,Ship Date_Year,Ship Date_Months,Ship Date_Days,Ship Mode_First Class,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
1963,5,0.0,11.7030,2017,9,10,2017,9,15,0,...,0,0,0,0,0,1,0,0,0,0
9348,8,0.0,202.2528,2016,12,22,2016,12,28,0,...,0,0,1,0,0,0,0,0,0,0
8795,4,0.2,15.8376,2014,12,19,2014,12,21,1,...,0,0,0,0,0,0,1,0,0,0
9389,1,0.0,0.9588,2017,1,19,2017,1,23,0,...,1,0,0,0,0,0,0,0,0,0
5090,1,0.2,3.1842,2017,8,4,2017,8,7,1,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,3,0.0,10.0464,2017,10,23,2017,10,29,0,...,0,0,0,0,0,0,1,0,0,0
7813,6,0.0,4.6464,2016,2,14,2016,2,15,1,...,0,0,1,0,0,0,0,0,0,0
905,2,0.0,6.2208,2016,4,8,2016,4,12,0,...,0,0,0,0,0,1,0,0,0,0
5192,5,0.0,43.7360,2014,11,28,2014,12,1,0,...,0,0,1,0,0,0,0,0,0,0
235,3,0.2,-7.7247,2017,4,7,2017,4,12,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
y_train

1963     24.900
9348    842.720
8795    211.168
9389      2.040
5090      8.784
         ...
2895     35.880
7813     10.560
905      12.960
5192    397.600
235     617.976
Name: Sales, Length: 6995, dtype: float64

In [35]:
X_test

,Quantity,Discount,Profit,Order Date_Year,Order Date_Months,Order Date_Days,Ship Date_Year,Ship Date_Months,Ship Date_Days,Ship Mode_First Class,...,Sub-Category_Envelopes,Sub-Category_Fasteners,Sub-Category_Furnishings,Sub-Category_Labels,Sub-Category_Machines,Sub-Category_Paper,Sub-Category_Phones,Sub-Category_Storage,Sub-Category_Supplies,Sub-Category_Tables
1814,3,0.2,-8.5068,2015,9,14,2015,9,18,0,...,0,0,0,0,0,0,0,0,0,1
881,2,0.0,8.3268,2015,10,9,2015,10,13,0,...,0,0,0,0,0,0,0,1,0,0
1122,7,0.0,6.6584,2014,1,20,2014,1,26,0,...,0,0,0,0,0,0,0,0,0,0
6807,3,0.2,35.6613,2015,3,31,2015,4,5,0,...,0,0,0,0,0,1,0,0,0,0
2911,5,0.0,19.4580,2014,6,16,2014,6,21,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287,2,0.0,11.1664,2016,11,22,2016,11,26,0,...,0,0,1,0,0,0,0,0,0,0
2762,5,0.2,36.9170,2017,10,12,2017,10,14,1,...,0,0,0,0,0,0,0,0,0,0
8820,2,0.2,311.9948,2017,11,3,2017,11,7,0,...,0,0,0,0,0,0,0,0,0,0
462,5,0.2,7.0680,2016,4,22,2016,4,29,0,...,0,0,1,0,0,0,0,0,0,0
2188,2,0.0,25.4730,2017,8,10,2017,8,15,0,...,0,0,1,0,0,0,0,0,0,0

In [36]:
y_test

1814    170.136
881      30.840
1122     22.960
6807     98.376
2911     41.400
         ...
1287     39.880
2762    101.840
8820    959.984
462      23.560
2188    121.300
Name: Sales, Length: 2999, dtype: float64

In [39]:
scaler=StandardScaler()

scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [40]:
X_train

array([[ 0.55100048, -0.75519908, -0.08266466, ..., -0.31047542,
        -0.1408118 , -0.18313981],
       [ 1.90733423, -0.75519908,  0.78485754, ..., -0.31047542,
        -0.1408118 , -0.18313981],
       [ 0.09888924,  0.22138154, -0.06384093, ..., -0.31047542,
        -0.1408118 , -0.18313981],
       ...,
       [-0.80533326, -0.75519908, -0.10762365, ..., -0.31047542,
        -0.1408118 , -0.18313981],
       [ 0.55100048, -0.75519908,  0.06317301, ..., -0.31047542,
        -0.1408118 , -0.18313981],
       [-0.35322201,  0.22138154, -0.17111377, ..., -0.31047542,
        -0.1408118 , -0.18313981]])

In [ ]:
X